body {
    text-align: center;
    background-image: url("../../../public/images/9316762.jpg");
    background-size: cover;
}

.mainBody {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    width: 40em;
    height: 20em;
    border-radius: 10%;
    background-color: rgba(0, 255, 0, 0.438);
}

.mainBody h1 {
    font-family: "pixelify Sans", sans-serif;
    padding-top: 1em;
}

.mainBody ul {
    list-style: none;
}

.mainBody li {
    margin-left: -2em;
}

.mainBody a {
    text-decoration: none;
    font-family: "pixelify Sans", sans-serif;
    font-size: 30px;
}

.mainBody a:link {
    color: hotpink;
}

.mainBody a:visited {
    color: hotpink;
}

.mainBody a:hover {
    color: lime;
}