.quizBody {
    background-color: black;
    color: lime;
    width: 40em;
    height: 30em;
    overflow-y: scroll;
    margin: auto;
    margin-top: 3em;
    border-style: solid;
    border-color: hotpink;
    border-width: .4em;
    border-radius: 10%;
    padding: 0.5em 1em;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* Firefox */
}

/* Scrollbar styles for WebKit browsers (Chrome, Safari) */
.quizBody::-webkit-scrollbar {
    width: 8px; /* Adjust the width to make it smaller */
}

.quizBody::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0); /* Transparent background */
    border-radius: 50px; /* Match the border radius of the container */
}

.quizBody::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.5); /* Semi-transparent thumb */
    border-radius: 50px; /* Match the border radius of the container */
    height: 20px; /* Adjust the height to make it smaller */
}

.summary {
    background-color: hotpink;
    color: lime;
    width: 30em;
    margin: auto;
    margin-top: 10em;
    border: 1px solid lime;
    border-radius: 50px;
    padding: 0.5em 1em;
    font-size: 30px;
}

.button {
    margin-left: 1em;
    background-color: lime;
    color: hotpink;
    border-color: hotpink;
}

.button:hover {
    background-color: hotpink;
    color: lime;
    border-color: lime;
}

.quizBody ul {
    list-style-type: none;
}

label:hover {
    color: hotpink;
}

.quizBody input {
    color: hotpink;
}

.quizBody div {
    margin-top: 1em;
    margin-bottom: 1em;
}
.quizBody h3 {
    margin-top: .5em;
    margin-bottom: .5em;
}
