@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*>* {
    font-family: "pixelify Sans", sans-serif;
    margin: 0;
}

:root {
    --color-dark: #2C3131;
    --color-light: #F3F3F2;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board {
    text-align: center;
    background-color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15em;
    width: 40em;
    height: 38em;
    border-radius: 10%;
    border-style: solid;
    border-color: hotpink;
    border-width: .4em;
}

.speakerON {
    margin-top: 1em;
}

span {
    color: hotpink;
}



h1 {
    color: lime;
}

.board .leaderboard {
    margin-bottom: 1em;
}

.board .duration {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.board .duration>button {
    font-size: 1.3em;
    margin-left: 1em;
    background-color: lime;
    color: hotpink;
    border-style: solid;
    border-width: 3px;
    border-color: hotpink;
    text-decoration: none;
    padding: .2em .2em;
}

.board .duration>button:hover {
    background-color: hotpink;
    color: lime;
    border-color: lime;
}

.active {
    /* dont know what this targets yet */
    background-color: white;
    color: red;
}

#profile {
    /* display: flex; */

    margin-top: 3em;
}

#profile .flex {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    text-align: left;
    margin-bottom: 2em;
}

#profile .flex .item {
    display: flex;
    align-items: center;
}

#profile .flex img {
    width: 20%;
    border-radius: 50%;
}

#profile .flex .info {
    padding: 1em;
}

.text-dark {
    color: lime;
}

.back-button {
    position: relative;
    top: 39em; /* Distance from the top of the screen */
    right: 14em; /* Distance from the left of the screen */
    z-index: 999; /* Ensure it's on top of other elements */
}

.back-button {
    margin-left: 1em;
    background-color: lime;
    color: hotpink;
    border-style: solid;
    border-width: 3px;
    border-color: hotpink;
    text-decoration: none;
    padding: .2em .2em;
}


.back-button:hover {
    background-color: hotpink;
    color: lime;
    border-color: lime;
}

.left {
    margin-right: 5em;
}

.right {
    margin-left: 5em;
}

.item {
    display: inline-block;

}