.summary {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13em;
    width: 25em;
    height: 10em;
    border-radius: 10%;
    background-color: black;
    border-style: solid;
    border-width: .4em;
    border-color: hotpink;
}

.summary h2 {
    margin-top: .2em;
    margin-bottom: 1.2em;
}

.summary button {
    margin-top: 2em;
    font-size: 1em;
}
